.profile-sidebar {
  padding: 16px 0px;
  width: 313px;
  @media (max-width: 960px) {
    width: 100%;
  }
  &__avatar {
    border-radius: 50%;
  }
  &__padding {
    padding: 0px 16px;
  }
  &__email {
    font-size: 16px;
    font-weight: 700;
    margin-top: 12px;
  }
  &__subs {
    width: 100%;
    height: 71px;
    border: 1px solid rgba(146, 146, 148, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    &-stat {
      flex: none;
      width: 31px;
      height: 100%;
      background: #29c295;
      border-radius: 11px 0px 0px 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      &--error {
        background: #FF5353;
      }
    }
    &-title {
      color: #222126;
      font-weight: 700;
      font-size: 16px;
    }
    &-link {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      margin-top: 6px;
    }
  }
  &__menu {
    list-style: none;
    margin-top: 16px;
    &-item {
      width: 100%;
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      padding: 13px 16px;
      border-top: 1px solid #e3e6e9;
      border-bottom: 1px solid #e3e6e9;
      transition-property: background, color;
      transition: 0.3s ease;
      position: relative;
      &:last-child {
        border-bottom: 0px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: -1px;
        width: 0px;
        height: calc(100% + 2px);
        background-color: #00379f;
        transition: width 0.3s ease;
        z-index: 2;
      }
      &:hover,
      &--active {
        background: #f2f2f5;
        color: #00379f;
      }
      &--active:after {
        width: 4px;
      }
    }
  }
}
