.login {
  width: 400px;
  padding-top: 24px;
  background-color: #fff;
  border-radius: 24px;
  @media (max-width: 440px) {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  &__title {
    text-transform: uppercase;
    font-family: Bebas Neue;
    color: #1a1a1a;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    padding-left: 20px;
    @media (max-width: 440px) {
      margin-top: 0px;
      margin-left: 15px;
    }
  }
  &__form {
    padding: 0px 20px;
    @media (max-width: 440px) {
      padding: 0px 15px;
    }
  }
  &__input {
    width: 100%;
  }
  &__label {
    margin-top: 24px;
  }
  &__forgot {
    font-size: 17px;
    display: inline-block;
    &-box {
      width: 100%;
      text-align: right;
      margin-top: 12px;
    }
  }
  &__button {
    width: 100%;
    margin-top: 30px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    color: #747373;
    padding: 24px 0px;
    border-top: 1px solid #ececec;
    margin-top: 24px;
    @media (max-width: 440px) {
      display: block;
      text-align: center;
    }
    &-text {
      @media (max-width: 440px) {
        margin-bottom: 2px;
        span {
          display: none;
        }
      }
    }
  }
}
