@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Montserrat-300.woff2") format("woff2"),
    url("../fonts/Montserrat-300.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Montserrat-400.woff2") format("woff2"),
    url("../fonts/Montserrat-400.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Montserrat-500.woff2") format("woff2"),
    url("../fonts/Montserrat-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Montserrat-600.woff2") format("woff2"),
    url("../fonts/Montserrat-600.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Montserrat-700.woff2") format("woff2"),
    url("../fonts/Montserrat-700.woff") format("woff");
}
